# haproxy.cfg
global
  log stdout format raw local0 info
  maxconn 20000
  ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384

defaults
  log global
  mode http
  option httplog
  option forwardfor
  timeout connect 5s
  timeout client 60s
  timeout server 60s

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 10s
  hold other 10s
  hold refused 10s
  hold nx 10s

frontend fe_http
  bind :80
  http-request redirect scheme https code 301 unless { ssl_fc }

frontend fe_https
  bind :443 ssl crt /run/secrets/taskmate_site_pem alpn h2,http/1.1
  http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains"
  acl host_taskmate hdr(host) -i taskmate.sothy.site
  use_backend bk_taskmate if host_taskmate
  acl host_employee-api hdr(host) -i employee-api.sothy.site
  use_backend bk_employee-api if host_employee-api
  acl host_employee-ui hdr(host) -i employee-ui.sothy.site
  use_backend bk_employee-ui if host_employee-ui
  default_backend bk_404

backend bk_taskmate
  balance roundrobin
  option httpchk GET /
  http-check expect status 200
  server-template tm 10 tasks.taskmate_taskmate:8000 check resolvers docker init-addr none

backend bk_employee-api
  balance roundrobin
  option httpchk GET /version
  http-check expect status 200
  server-template tm 10 tasks.employee_employee-api:4000 check resolvers docker init-addr none

backend bk_employee-ui
  balance roundrobin
  server-template tm 10 tasks.employee_employee-ui:4200 check resolvers docker init-addr none

backend bk_404
  http-request deny deny_status 404
